@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Road+Rage&display=swap");

/* ======== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    font-weight: 300;
}

// =========================================================================
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    .header-logo {
        font-family: "Road Rage", cursive;
        h3 {
            font-size: 2.4em;
        }
    }
    .header-menu {
        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            li {
                margin-left: 50px;
                font-weight: 400;
            }
        }
    }
}


/* =========================================================================
 =========================================================================
=============================HOME====================================
================================================================ 
 =========================================================================*/

.container {
    .first-block-container {
        padding: 5px 5%;
        margin-bottom: 100px;
        h3 {
            font-size: 2em;
            padding: 10px 0px;
            font-weight: 600;
            span {
                color: #f57665;
            }
        }
        p {
            color: #565656;
            font-weight: 300;
            padding-bottom: 10px;
        }
        button {
            color: #f57665;
            border: 1px solid #f57665;
            background-color: #fff;
            padding: 6px 20px;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transition: all 0.3s;
        }
        button:hover {
            background-color: #f57665;
            // border: #fff;
            color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
    }
    // ===============================
    .second-block-container {
        padding: 10px 5%;
        .second-block_title {
            display: flex;
            justify-content: start;
            align-items: center;
            hr {
                width: 5%;
            }
            p {
                padding: 0px 10px;
            }
        }
        .second-block_content {
            margin-bottom: 100px;
            display: flex;
            justify-content: center;
            .second-block_content_item {}
            .second-block_content-left {
                width: 47%;
                padding: 30px 0px;
                line-height: 2.6em;
                h3 {
                    font-size: 1.7em;
                    font-weight: 600;
                }
                p {
                    color: #565656;
                    padding: 5px 0px;
                }
                .second-block_content-lert__btn-group {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 20px;
                    button {
                        // background: #565656;
                        border: none;
                        padding: 5px 20px;
                        margin: 0px 10px;
                        border-radius: 10px;
                    }
                }
                span {
                    border-bottom: 3px solid #f57665;
                    font-weight: 500;
                }
            }
            .second-block_content-right {
                width: 53%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #000;
                border-radius: 10px;
                height: 300px;
            }
        }
        .second-block_content:nth-child(3) {
            .second-block_content-left {
                margin-left: 50px;
            }
        }
    }
}

.footer-container {
    text-align: center;
    padding: 30px 5%;
    h3 {
        font-size: 2.5em;
        font-weight: 400;
    }
    p {
        padding: 10px 0px;
    }
    .footer-icon_group {
        img {
            padding: 0px 10px;
        }
    }
}

//  ================================================================= =========
// =========================RE-DESGIGN==================================
//  ================================================================
.re-design-container {
    p {
        line-height: 1.7em;
        span {
            font-weight: 500;
            line-height: 5em;
        }
    }
    .first-block {
        img {
            width: 100%;
        }
    }
    .footer-container {
        padding: 30px 5%;
        .footer-icon_group {
            display: flex;
            justify-content: end;
            align-items: center;
            img {
                margin-top: 30px;
                width: 30px;
            }
        }
    }
    .title-block {
        text-align: center;
        h3 {
            font-size: 2.4em;
            font-weight: 400;
            padding: 30px 0px;
        }
    }
    .content {
        .second-block {
            padding: 50px 5%;
            .second-block_content {
                padding: 10px 10%;
                p {
                    margin-bottom: 30px;
                    line-height: 1.9em;
                }
            }
        }
        .title-circle {
            position: relative;
            img {}
            >p {
                position: absolute;
                bottom: 50%;
                top: 38%;
                left: 4%;
                font-size: 1.6em;
                font-weight: 500;
            }
            margin-bottom: 20px;
        }
        .third-block {
            padding: 50px 5%;
            .third-block_content {
                >.third-block_content__title {
                    position: relative;
                    img {}
                    >p {
                        position: absolute;
                        bottom: 50%;
                        top: 38%;
                        transform: translate(-50%, -50%);
                        left: 10%;
                        font-size: 1.6em;
                        font-weight: 500;
                    }
                    margin-bottom: 20px;
                }
                .third-block_content__flex {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    .third-block_content__flex-left {
                        flex: 1;
                        p {
                            font-weight: 400;
                            margin-bottom: 20px;
                        }
                        span {
                            line-height: 1.7em;
                        }
                    }
                }
            }
        }
        .fourth-block {
            padding: 50px 5%;
            .found-block_content {
                p {
                    line-height: 1.7em;
                    span {
                        font-weight: 500;
                        line-height: 5em;
                    }
                    u {
                        line-height: 5em;
                    }
                }
            }
        }
        .fifth-block {
            padding: 50px 5%;
            .fifth-block_content {
                .third-block_content__text {
                    p {
                        line-height: 1.7em;
                    }
                    img {
                        margin: 20px 0px;
                        width: 100%;
                    }
                }
            }
        }
        .sixth-block,
        .seventh-block {
            padding: 50px 5%;
            .sixth-block_content {
                img {
                    width: 100%;
                    margin: 50px 0px;
                }
            }
        }
    }
}

.re-search-container {
    .title-block {
        text-align: center;
        h3 {
            font-size: 2.4em;
            font-weight: 400;
            padding: 30px 0px;
        }
    }
    .title-circle {
        position: relative;
        img {}
        >p {
            position: absolute;
            bottom: 50%;
            top: 38%;
            left: 4%;
            font-size: 1.6em;
            font-weight: 500;
        }
        margin-bottom: 20px;
    }
    .content {
        padding: 50px 5%;
        .first-block {
            display: flex;
            justify-content: center;
            align-items: center;
            .first-block_left {
                h3 {
                    color: #f3b7be;
                    font-size: 3em;
                    font-weight: 500;
                    margin: 30px 0px;
                }
                span {
                    line-height: 15em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                p {
                    color: #565656;
                }
                width: 65%;
            }
            .first-block_right {
                width: 35%;
            }
        }
        .second-block {
            .second-block_content {
                .second-block_content {
                    p {
                        line-height: 1.7em;
                    }
                }
            }
        }
    }
}

.building-container {
    .title-block {
        text-align: center;
        h3 {
            font-size: 2.4em;
            font-weight: 400;
            padding: 30px 0px;
        }
    }
    .title-circle {
        position: relative;
        img {}
        >p {
            position: absolute;
            bottom: 50%;
            top: 38%;
            left: 4%;
            font-size: 1.6em;
            font-weight: 500;
        }
        margin-bottom: 20px;
    }
    .content {
        padding: 50px 5%;
        .first-block {
            margin-top: -200px;
            display: flex;
            justify-content: center;
            align-items: center;
            .first-block_left {
                h3 {
                    color: #f3b7be;
                    font-size: 3em;
                    font-weight: 500;
                    margin: 0px 0px 50px;
                }
                span {
                    line-height: 15em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                p {
                    color: #565656;
                    line-height: 2em;
                }
                width: 55%;
            }
            .first-block_right {
                width: 45%;
                img {
                    width: 100%;
                }
            }
        }
        .context-text_flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10%;
        }
        p {
            line-height: 1.7em;
        }
        img {}
        b {
            line-height: 5em;
        }
    }
}