@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Road+Rage&display=swap");
/* ======== */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-weight: 300;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
}

.header-container .header-logo {
  font-family: "Road Rage", cursive;
}

.header-container .header-logo h3 {
  font-size: 2.4em;
}

.header-container .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-menu ul li {
  margin-left: 50px;
  font-weight: 400;
}

/* =========================================================================
 =========================================================================
=============================HOME====================================
================================================================ 
 =========================================================================*/
.container .first-block-container {
  padding: 5px 5%;
  margin-bottom: 100px;
}

.container .first-block-container h3 {
  font-size: 2em;
  padding: 10px 0px;
  font-weight: 600;
}

.container .first-block-container h3 span {
  color: #f57665;
}

.container .first-block-container p {
  color: #565656;
  font-weight: 300;
  padding-bottom: 10px;
}

.container .first-block-container button {
  color: #f57665;
  border: 1px solid #f57665;
  background-color: #fff;
  padding: 6px 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .first-block-container button:hover {
  background-color: #f57665;
  color: #fff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container .second-block-container {
  padding: 10px 5%;
}

.container .second-block-container .second-block_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .second-block-container .second-block_title hr {
  width: 5%;
}

.container .second-block-container .second-block_title p {
  padding: 0px 10px;
}

.container .second-block-container .second-block_content {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .second-block-container .second-block_content .second-block_content-left {
  width: 47%;
  padding: 30px 0px;
  line-height: 2.6em;
}

.container .second-block-container .second-block_content .second-block_content-left h3 {
  font-size: 1.7em;
  font-weight: 600;
}

.container .second-block-container .second-block_content .second-block_content-left p {
  color: #565656;
  padding: 5px 0px;
}

.container .second-block-container .second-block_content .second-block_content-left .second-block_content-lert__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.container .second-block-container .second-block_content .second-block_content-left .second-block_content-lert__btn-group button {
  border: none;
  padding: 5px 20px;
  margin: 0px 10px;
  border-radius: 10px;
}

.container .second-block-container .second-block_content .second-block_content-left span {
  border-bottom: 3px solid #f57665;
  font-weight: 500;
}

.container .second-block-container .second-block_content .second-block_content-right {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  border-radius: 10px;
  height: 300px;
}

.container .second-block-container .second-block_content:nth-child(3) .second-block_content-left {
  margin-left: 50px;
}

.footer-container {
  text-align: center;
  padding: 30px 5%;
}

.footer-container h3 {
  font-size: 2.5em;
  font-weight: 400;
}

.footer-container p {
  padding: 10px 0px;
}

.footer-container .footer-icon_group img {
  padding: 0px 10px;
}

.re-design-container p {
  line-height: 1.7em;
}

.re-design-container p span {
  font-weight: 500;
  line-height: 5em;
}

.re-design-container .first-block img {
  width: 100%;
}

.re-design-container .footer-container {
  padding: 30px 5%;
}

.re-design-container .footer-container .footer-icon_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.re-design-container .footer-container .footer-icon_group img {
  margin-top: 30px;
  width: 30px;
}

.re-design-container .title-block {
  text-align: center;
}

.re-design-container .title-block h3 {
  font-size: 2.4em;
  font-weight: 400;
  padding: 30px 0px;
}

.re-design-container .content .second-block {
  padding: 50px 5%;
}

.re-design-container .content .second-block .second-block_content {
  padding: 10px 10%;
}

.re-design-container .content .second-block .second-block_content p {
  margin-bottom: 30px;
  line-height: 1.9em;
}

.re-design-container .content .title-circle {
  position: relative;
  margin-bottom: 20px;
}

.re-design-container .content .title-circle > p {
  position: absolute;
  bottom: 50%;
  top: 38%;
  left: 4%;
  font-size: 1.6em;
  font-weight: 500;
}

.re-design-container .content .third-block {
  padding: 50px 5%;
}

.re-design-container .content .third-block .third-block_content > .third-block_content__title {
  position: relative;
  margin-bottom: 20px;
}

.re-design-container .content .third-block .third-block_content > .third-block_content__title > p {
  position: absolute;
  bottom: 50%;
  top: 38%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 10%;
  font-size: 1.6em;
  font-weight: 500;
}

.re-design-container .content .third-block .third-block_content .third-block_content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.re-design-container .content .third-block .third-block_content .third-block_content__flex .third-block_content__flex-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.re-design-container .content .third-block .third-block_content .third-block_content__flex .third-block_content__flex-left p {
  font-weight: 400;
  margin-bottom: 20px;
}

.re-design-container .content .third-block .third-block_content .third-block_content__flex .third-block_content__flex-left span {
  line-height: 1.7em;
}

.re-design-container .content .fourth-block {
  padding: 50px 5%;
}

.re-design-container .content .fourth-block .found-block_content p {
  line-height: 1.7em;
}

.re-design-container .content .fourth-block .found-block_content p span {
  font-weight: 500;
  line-height: 5em;
}

.re-design-container .content .fourth-block .found-block_content p u {
  line-height: 5em;
}

.re-design-container .content .fifth-block {
  padding: 50px 5%;
}

.re-design-container .content .fifth-block .fifth-block_content .third-block_content__text p {
  line-height: 1.7em;
}

.re-design-container .content .fifth-block .fifth-block_content .third-block_content__text img {
  margin: 20px 0px;
  width: 100%;
}

.re-design-container .content .sixth-block,
.re-design-container .content .seventh-block {
  padding: 50px 5%;
}

.re-design-container .content .sixth-block .sixth-block_content img,
.re-design-container .content .seventh-block .sixth-block_content img {
  width: 100%;
  margin: 50px 0px;
}

.re-search-container .title-block {
  text-align: center;
}

.re-search-container .title-block h3 {
  font-size: 2.4em;
  font-weight: 400;
  padding: 30px 0px;
}

.re-search-container .title-circle {
  position: relative;
  margin-bottom: 20px;
}

.re-search-container .title-circle > p {
  position: absolute;
  bottom: 50%;
  top: 38%;
  left: 4%;
  font-size: 1.6em;
  font-weight: 500;
}

.re-search-container .content {
  padding: 50px 5%;
}

.re-search-container .content .first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.re-search-container .content .first-block .first-block_left {
  width: 65%;
}

.re-search-container .content .first-block .first-block_left h3 {
  color: #f3b7be;
  font-size: 3em;
  font-weight: 500;
  margin: 30px 0px;
}

.re-search-container .content .first-block .first-block_left span {
  line-height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.re-search-container .content .first-block .first-block_left p {
  color: #565656;
}

.re-search-container .content .first-block .first-block_right {
  width: 35%;
}

.re-search-container .content .second-block .second-block_content .second-block_content p {
  line-height: 1.7em;
}

.building-container .title-block {
  text-align: center;
}

.building-container .title-block h3 {
  font-size: 2.4em;
  font-weight: 400;
  padding: 30px 0px;
}

.building-container .title-circle {
  position: relative;
  margin-bottom: 20px;
}

.building-container .title-circle > p {
  position: absolute;
  bottom: 50%;
  top: 38%;
  left: 4%;
  font-size: 1.6em;
  font-weight: 500;
}

.building-container .content {
  padding: 50px 5%;
}

.building-container .content .first-block {
  margin-top: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.building-container .content .first-block .first-block_left {
  width: 55%;
}

.building-container .content .first-block .first-block_left h3 {
  color: #f3b7be;
  font-size: 3em;
  font-weight: 500;
  margin: 0px 0px 50px;
}

.building-container .content .first-block .first-block_left span {
  line-height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.building-container .content .first-block .first-block_left p {
  color: #565656;
  line-height: 2em;
}

.building-container .content .first-block .first-block_right {
  width: 45%;
}

.building-container .content .first-block .first-block_right img {
  width: 100%;
}

.building-container .content .context-text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10%;
}

.building-container .content p {
  line-height: 1.7em;
}

.building-container .content b {
  line-height: 5em;
}
/*# sourceMappingURL=stule.css.map */